.movie-list .swiper-slide {
  width: 15%;
}

@media (max-width: 768px) {
  .movie-list .swiper-slide {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .movie-list .swiper-slide {
    width: 40%;
  }
}
